# Configuration file

enabled {
    B:"abyssalcraft:abybrick"=true
    B:"abyssalcraft:abydreadbrick"=true
    B:"abyssalcraft:cobblestone"=true
    B:"abyssalcraft:cstonebrick"=true
    B:"abyssalcraft:darkstone_brick"=true
    B:"abyssalcraft:dltplank"=true
    B:"abyssalcraft:dreadbrick"=true
    B:"abyssalcraft:dreadlandsdirt"=true
    B:"abyssalcraft:ethaxiumbrick"=true
    B:"bewitchment:planks_cypress"=true
    B:"bewitchment:planks_elder"=true
    B:"bewitchment:planks_juniper"=true
    B:"bewitchment:planks_yew"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"botania:biomestonea"=true
    B:"botania:biomestoneb"=true
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=true
    B:"botania:quartztypedark"=true
    B:"botania:quartztypeelf"=true
    B:"botania:quartztypelavender"=true
    B:"botania:quartztypemana"=true
    B:"botania:quartztypered"=true
    B:"botania:quartztypesunny"=true
    B:"darkutils:pearl_block"=true
    B:"extratrees:planks.0"=true
    B:"extratrees:planks.1"=true
    B:"extratrees:planks.2"=true
    B:"extratrees:planks.fireproof.0"=true
    B:"extratrees:planks.fireproof.1"=true
    B:"extratrees:planks.fireproof.2"=true
    B:"forestry:ash_brick"=true
    B:"forestry:planks.0"=true
    B:"forestry:planks.1"=true
    B:"forestry:planks.fireproof.0"=true
    B:"forestry:planks.fireproof.1"=true
    B:"immersiveengineering:treated_wood"=true
    B:"minestrapp:m_stone_bricks"=true
    B:"quark:biome_cobblestone"=true
    B:"quark:biotite_block"=true
    B:"quark:duskbound_block"=true
    B:"quark:midori_block"=true
    B:"quark:soul_sandstone"=true
    B:"quark:stained_planks"=true
    B:"roots:runestone_brick"=true
    B:"rustic:painted_wood_black"=true
    B:"rustic:painted_wood_blue"=true
    B:"rustic:painted_wood_brown"=true
    B:"rustic:painted_wood_cyan"=true
    B:"rustic:painted_wood_gray"=true
    B:"rustic:painted_wood_green"=true
    B:"rustic:painted_wood_light_blue"=true
    B:"rustic:painted_wood_lime"=true
    B:"rustic:painted_wood_magenta"=true
    B:"rustic:painted_wood_orange"=true
    B:"rustic:painted_wood_pink"=true
    B:"rustic:painted_wood_purple"=true
    B:"rustic:painted_wood_red"=true
    B:"rustic:painted_wood_silver"=true
    B:"rustic:painted_wood_white"=true
    B:"rustic:painted_wood_yellow"=true
    B:"rustic:planks"=true
    B:"rustic:slate_brick"=true
    B:"silentgems:gembrickcoated"=true
    B:"silentgems:gembrickcoateddark"=true
    B:"silentgems:gembrickcoatedlight"=true
    B:"silentgems:gembrickspeckled"=true
    B:"silentgems:gembrickspeckleddark"=true
    B:"silentgems:gembrickspeckledlight"=true
    B:"silentgems:gemglass"=true
    B:"silentgems:gemglassdark"=true
    B:"silentgems:gemglasslight"=true
    B:"totemic:cedar_plank"=true
    B:"traverse:blue_rock_bricks"=true
    B:"traverse:blue_rock_cobblestone"=true
    B:"traverse:fir_planks"=true
    B:"traverse:red_rock_bricks"=true
    B:"traverse:red_rock_cobblestone"=true
    B:"wizardry:nacre_block_brick"=true
    B:"wizardry:wisdom_wood_planks"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


